*{
    background-color: #222222;
    color: white;
}


img{
    display:block;
    margin:auto;
    }

.introducion 
.intro_title {
    display: block;
    color: teal;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.introducion 
.intro_descripcion {
    display: block;
    color: white;
    height: auto;
    text-align: center;
    font-weight: 500;
}
