*{
    background-color: #222222;
    color: white;
}

h1{
    font-size: 35px;
    background-color: orange;
    color: black;

    margin: 0px;
    padding: 0px;
}

h2{
    font-size: 25px;
    background-color: #ffffffaa;
    color: orangered;

    margin: 0px;
    padding: 0px;
}

.foto_perfil{
    display:block;
    margin:auto;
}

.foto_perfil img{
    display:block;
    margin:auto;
}

.introducion 
.intro_title {
    display: block;
    color: teal;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.introducion 
.intro_descripcion {
    display: block;
    color: white;
    height: auto;
    text-align: center;
    font-weight: 500;
}

.habilidades { 
    background-color: #353539;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.set-habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
    width: 50%;
}
.set-habilidades ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 10px  0;
}

.set-habilidades-title{
    color: teal;
}

@media (max-width: 800px) {

    .habilidades { 
        background-color: #353539;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }    

    .set-habilidades{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
}